//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------


.home {
  .section-banner {
    background: url("./../assets/images/banner.png") 0% 0% no-repeat;
    background-position: center;

    .scrollIndicatorBlock{
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
    }

    .link {
      color: $white;
      text-decoration: none;
    }

    .scrollIndicatorIcon {
      animation-duration: 1.8s;
      animation-iteration-count: infinite;
      transform-origin: bottom;
      text-align: center;

      .fa-angle-down {  
        font-size: 24px;
      }
    }

  }
  .section-about {
    .fp-tableCell {
      display: flex;
      flex-direction: row;
    }

    .container {
      height: 100%;
    }

    .text-wrapper {
      padding: 15px;
      max-width: 600px;
      margin: 0 auto;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .holder-text {
      width: 50%;
    }

    .holder-image {
      width: 50%;

      &.strategy {
        background: url("./../assets/images/about-image-1.png") 0% 0% no-repeat;
        background-position: bottom;
      }

      &.technology {
        background: url("./../assets/images/about-image-2.png") 0% 0% no-repeat;
        background-position: bottom;
      }

      &.social {
        background: url("./../assets/images/about-image-3.png") 0% 0% no-repeat;
        background-position: bottom;
      }
    }

    .holder-list {
      margin-top: 50px;
    }

    .title {
      color: $black;
    }

    .desc {
      color: #707070;
    }

    .list-title {
      font-weight: bold;
      font-size: 21px;
    }

    .list-text {
      color: #707070;
    }
  }

  .section-list {
    .holder-pane {
      display: flex;
      flex-direction: row;
      // padding: 70px;
    }

    .holder-text {
      padding: 15px;
      max-width: 600px;
      margin: 0 auto;
    }

    .list {
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .list-title {
      font-weight: bold;
      font-size: 21px;
    }

    .list-text {
      color: #707070;
      line-height: 25px;
    }

    .first {
      width: 50%;
    }

    .second {
      width: 50%;
    }
  }

  .section-clients {
    .holder-pane {
      display: flex;
      height: 100%;
    }

    .holder-left-pane {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      height: 100%;
      background-color: #ebebeb;
    }

    .holder-text {
      padding: 15px;
      max-width: 610px;
      margin: 0 auto;
    }

    .holder-right-pane {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
    }

    .holder-images-list {
      padding: 15px;
    }

    .image {
      width: 100%;
    }

    .list {
      margin-bottom: 90px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .section-newsletter {
    .holder-newsletter {
      margin-bottom: 140px;
    }

    .holder-form-group {
      display: flex;
    }

    .form-group-input {
      margin-right: 65px;
    }

    .form-input {
      width: 340px;    
      color: #707070;
    }

    .title {
      font-size: 47px;
    }

    .desc {
      margin-bottom: 39px;

      color: #707070;
      font-size: 21px;
    }

    .form-button {
      width: 225px;
      display: inline-block;
      border-radius: 10px;
      border: 2px solid #000000;
      background-color: #000000;
      color: #ffffff;
      font-family: "PT Sans";
      font-size: 21px;
      font-weight: 700;
      height: 60px;
      line-height: 35px;
      transition: all 0.3s ease-out;
    }

    .swiper-slide {
      width: 285px;
    }

    .card-img {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 160px;
      
      background-color: black;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;

      .text {
        color: white;
      }
    }

    .card-body {
      background-color: #f6f6f6;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
      min-height: 160px;
    }

    .card-title {
      color: $black;
      font-weight: bold;
      font-size: 19px;
    }

    .card-desc {
      color: gray;
      font-size: 19px;
      line-height: 25px;
    }
    
    .fa-play-circle {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      font-size: 44px;
      height: 100%;
      width: 100%;
      right: 0;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      transition: 0.2s all ease-in-out;

      &:hover {
        font-size: 55px;
      }
    }
  }

  .section-portfolio {
    .holder-pane {
      display: flex;
    }

    .fp-tableCell {
      height: 100% !important;
    }

    .container-fluid {
      padding: 0;
    }

    .swiper-container {
      height: 100%;
    }

    .holder-pane {
      height: 100%;
    }

    .holder-left-pane {
      width: 50%;

      &.green-deal {
        background: url('./../assets/images/ecommerce-case.png') 0% 0% no-repeat;
        background-size: cover;
      }

      &.lumier {
        background-color: #00a2b1;
        
        .holder-text {
          color: $black;
        }
      }
    }

    .holder-right-pane {
      width: 50%;
    }

    .image-background {
      width: 100%;
      height: auto;
    }

    .holder-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 15px;
      max-width: 610px;
      margin: 0 auto;
      height: 100%;

      color: white;
    }
  }

  .section-video {
    .holder-pane {
      display: flex;
    }

    .fp-tableCell {
      height: 100% !important;
    }

    .container-fluid {
      padding: 0;
    }

    .swiper-container {
      height: 100%;
    }

    .holder-pane {
      height: 100%;
    }

    .holder-left-pane {
      width: 50%;

      &.thon {
        background: url('./../assets/images/vr-cases.png');
      }    

      &.akershus {
        background-color: #ebebeb;
        
        .holder-text {
          color: $black;
        }
      }

      &.kvik {
        background-color: black;
      }
    }

    .header-video {
      height: 100%;
      object-fit: cover;

      position: absolute;
      left: 0;
      top: 50%;
      z-index: 1;

      width: 100%;

      outline: none;
      border: none;

      transform: translateY(-50%);

      overflow: hidden;
    }

    .holder-right-pane {
      position: relative;
      width: 50%;
    }

    .image-background {
      width: 100%;
      height: auto;
    }

    .holder-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 15px;
      max-width: 610px;
      margin: 0 auto;
      height: 100%;

      color: white;
    }
  }

  .section-team {

    .title {
      margin-bottom: 80px;
    }

    .list {
      display: flex;
      width: 45%;
      margin-bottom: 45px;
    }

    .image {
      width: auto;
      height: 100%;
    }

    .holder-text {
      display: flex;
      flex-direction: column;
      margin-left: 25px;
    }

    .holder-team {
      padding: 0 75px;
    }

    .name {
      font-size: 21px;
      font-weight: bold;
    }

    .position {
      font-size: 21px;
    }

    .holder-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      // justify-content: space-between;
    }

    .holder-contact-list {
      display: flex;
      align-items: center;
    }

    .contact-list {
      margin: 8px;
      font-size: 14px;
      font-weight: bold;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .contact-list {
      .social {
        font-weight: normal;
      }
    }

    .social {
      .fa-linkedin-in {
        padding: 5px;

        font-size: 12px;
        color: white;

        background-color: $black;
        border: 1px solid $black;
        border-radius: 50%;


        transition: all .3s ease-in-out;
      }   
    }

    .contact-link {
      display: flex;
      color: $black;

      &:hover {
        text-decoration: none;

        &.social {
          .fa-linkedin-in {
            background-color: $white;
            color: $black;
            border: 1px solid $black;
          }
        }
      }

      &.email {
        text-decoration: underline;
      }
    }
  }

  .section-cta {
    .holder-pane {
      display: flex;
      height: 100%;
    }

    .holder-left-pane {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;

      background-color: #EBEBEB;

      .holder-text {
        padding: 15px;
        max-width: 610px;
        margin: 0 auto;
      }

      .image {
        &.xvr {
          width: 65px;
          margin-right: 7px;
        }

        &.dynamic {
          width: 123px;
        }

        &.commerce {
          width: 180px;
        }
      }
    }

    .holder-list {
      display: flex;
    }

    .list {
      display: flex;
      align-items: center;
    }

    .holder-right-pane {
      width: 50%;

      background-color: #000000;
    }

    .title {
      margin-bottom: 16px;
      font-size: 47px;
    }
    
    .desc {
      max-width: 650px;
      width: 100%;

      color: #707070;
      line-height: 35px;
      font-size: 21px;
    }

    .subtitle {
      margin: 19px 0 25px;

      font-size: 21px;
      color: #000;
    }

    .holder-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      padding: 50px 100px;


      .title {
        color: $white;
      }

      .desc {
        color: #707070;
      }
    }

    .form-group {
      margin-bottom: 30px;
    }

    .form-input {
      &.fw-input,
      &.hw-input {
        color: $white;
      }
    }

    .social-text {
      margin: 40px 0 20px;
      color: $white;
    }

    .holder-list {
      display: flex;
    }

    .list-link {
      width: 35px;
      height: 35px;
      font-size: 19px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
      background-color: white;
      border: 1px solid black;
      margin: 8px;

      transition: all 0.3s ease-out;

      &:hover {
        background-color: black;
        border: 1px solid white;

        .icon {
          color: $white;
        }
      }
    }    

    .icon {
      display: block;
      color: $black;
      transition: all 0.3s ease-out;
    }

    .copyright {
      margin-top: auto;
      font-size: 15px;
      color: $white;
    }
  }
}

@include respond-to(lg) {
  .home {
    .section-about {
      .title {
        font-size: 30px;
      }

      .desc {
        font-size: 18px;
      }

      .list-title {
        font-size: 18px;
      }

      .list-text {
        font-size: 16px;
      }
    }

    .section-cta {
      .holder-form {
        padding: 50px;
      }
    }
  }
}

@include respond-to(lg-down) {
  .home {
    .section-team {
      .list {
        width: 100%;
      }
    }
  }
}

@include respond-to(md-down) {
  .home {

    .section-banner {
      height: 500px;
      width: 100%;
      background-size: cover;
      position: relative;
    }

    .section-about {
      display: flex;
      flex-wrap: wrap;

      .holder-text {
        width: 100%;
        order: 2;
      }

      .holder-image {
        width: 100%;
        height: 50vh;
        order: 1;

        &.strategy,
        &.technology,
        &.social {
          background-size: auto;
        }
      }
    }

    .section-portfolio {
      position: relative;

      .holder-pane {
        flex-wrap: wrap;
        height: 100%;
      }

      .holder-left-pane {
        width: 100%;
        height: 100%;
        order: 2;
        padding: 25px 0;
      }

      .holder-right-pane {
        width: 100%;
        height: 50vh;
        order: 1;
      }
    }

    .section-video {
      position: relative;

      .holder-pane {
        flex-wrap: wrap;
      }

      .header-video {
        object-fit: none;
        object-position: top;
      }

      .holder-left-pane {
        width: 100%;
        order: 2;
      }

      .holder-right-pane {
        width: 100%;
        height: 50vh;
        order: 1;
      }
    }

    .section-clients {
      .holder-pane {
        height: 100%;

        flex-wrap: wrap;
      }

      .holder-left-pane {
        width: 100%;
        padding: 25px 0;
        // order: 2;
      }

      .holder-right-pane {
        width: 100%;
        // order: 1;
      }
    }

    .section-newsletter {

      .holder-form-group {
        flex-wrap: wrap;
      }

      .form-group-input {
        width: 100%;
        margin-right: 0;
      }

      .holder-button {
        display: flex;
        margin-top: 25px;
        width: 100%;
      }

      .form-button {
        margin-left: auto;
      }

      .form-input {
        max-width: 100%;
        width: 100%;

        &::placeholder {
          text-align: right;
        }
      }
    }

    .section-cta {
      .holder-pane {
        flex-wrap: wrap;
      }

      .holder-form {
        padding: 15px;
      }

      .holder-list {
        flex-wrap: wrap;
        margin-top: 15px;
      }

      .list {
        margin-bottom: 15px;
      }

      .holder-left-pane {
        width: 100%;
      }

      .holder-right-pane {
        width: 100%;
      }
    }
  }
}