//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------


.home {
  .section-banner {
    background: url("./../assets/images/banner.png") 0% 0% no-repeat;
    background-position: center;
  }

  .section-vi-setter {
    .fp-tableCell {
      display: flex;
      flex-direction: row;
    }

    .holder-text {
      width: 50%;
    }

    .holder-image {
      width: 50%;
    }
  }

  .section-list {
    .holder-text {
      display: flex;
      flex-direction: row;
      padding: 70px;
    }


    .first {
      width: 50%;
    }

    .second {
      width: 50%;
    }

    .title {
      color: #707070;
    }

    .text {
      color: #707070;
      font-size: 14px;
    }
  }

  .section-background {
    .holder-pane {
      display: flex;
      height: 100%;
    }

    .holder-left-pane {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 100px;
      width: 50%;
      height: 100%;
      background-color: #ebebeb;
    }

    .holder-right-pane {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
    }

    .list {
      margin-bottom: 90px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .section-newsletter {
    .holder-newsletter {
      margin-bottom: 140px;
    }

    .holder-form-group {
      display: flex;
    }

    .form-group-input {
      margin-right: 65px;
    }

    .form-input {
      width: 340px;    
      color: #707070;
    }

    .title {
      font-size: 47px;
    }

    .desc {
      margin-bottom: 39px;

      color: #707070;
      font-size: 21px;
    }

    .form-button {
      width: 225px;
      display: inline-block;
      border-radius: 10px;
      border: 2px solid #000000;
      background-color: #000000;
      color: #ffffff;
      font-family: "PT Sans";
      font-size: 21px;
      font-weight: 700;
      height: 60px;
      line-height: 35px;
      transition: all 0.3s ease-out;
    }

    .card-img {
      position: relative;
    }
    
    .fa-play-circle {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      font-size: 44px;
      height: 100%;
      width: 100%;
      right: 0;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      transition: 0.2s all ease-in-out;

      &:hover {
        font-size: 55px;
      }
    }
  }

  .section-portfolio {
    .holder-pane {
      display: flex;
    }

    .fp-tableCell {
      height: 100% !important;
    }

    .container-fluid {
      padding: 0;
    }

    .swiper-container {
      height: 100%;
    }

    .holder-pane {
      height: 100%;
    }

    .holder-left-pane {
      width: 50%;

      background: url('./../assets/images/ecommerce-case.png');

    }

    .holder-right-pane {
      width: 50%;
    }

    .image-background {
      width: 100%;
      height: auto;
    }

    .holder-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 100px;
      height: 100%;

      color: white;
    }
  }

  .section-vr {
    .holder-pane {
      display: flex;
    }

    .fp-tableCell {
      height: 100% !important;
    }

    .container-fluid {
      padding: 0;
    }

    .swiper-container {
      height: 100%;
    }

    .holder-pane {
      height: 100%;
    }

    .holder-left-pane {
      width: 50%;

      background: url('./../assets/images/vr-cases.png');
    }

    .header-video {
      height: 100%;
      object-fit: cover;

      position: absolute;
      left: 0;
      top: 50%;
      z-index: 1;

      width: 100%;

      outline: none;
      border: none;

      transform: translateY(-50%);

      overflow: hidden;
    }

    .holder-right-pane {
      position: relative;
      width: 50%;
    }

    .image-background {
      width: 100%;
      height: auto;
    }

    .holder-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 100px;
      height: 100%;

      color: white;
    }
  }

  .section-team {

    .list {
      display: flex;
      width: 45%;
      margin-bottom: 45px;
    }

    .image {
      width: auto;
      height: 100%;
    }

    .holder-text {
      display: flex;
      flex-direction: column;
      margin-left: 25px;
    }

    .holder-team {
      padding: 0 75px;
    }

    .name {
      font-size: 21px;
      font-weight: bold;
    }

    .position {
      font-size: 21px;
    }

    .holder-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      // justify-content: space-between;
    }

    .holder-contact-list {
      display: flex;
    }

    .contact-list {
      margin: 8px;
      font-size: 14px;
      font-weight: bold;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .contact-list {
      .social {
        font-weight: normal;
      }
    }

    .social {
      .fa-linkedin-in {
        padding: 5px;

        font-size: 12px;
        color: white;

        background-color: $black;
        border-radius: 50%;
      }   
    }

    .contact-link {
      display: flex;
      color: $black;
    }
  }

  .section-cta {
    .holder-pane {
      display: flex;
      height: 100%;
    }

    .holder-left-pane {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 75px;
      width: 50%;

      background-color: #EBEBEB;
      
      .image {
        &.xvr {
          width: 65px;
          margin-right: 7px;
        }

        &.dynamic {
          width: 123px;
        }

        &.commerce {
          width: 180px;
        }
      }
    }

    .holder-list {
      display: flex;
    }

    .list {
      display: flex;
      align-items: center;
    }

    .holder-right-pane {
      width: 50%;

      background-color: #000000;
    }

    .title {
      margin-bottom: 16px;
      font-size: 47px;
    }
    
    .desc {
      max-width: 650px;
      width: 100%;

      color: #707070;
      line-height: 35px;
      font-size: 21px;
    }

    .subtitle {
      margin: 19px 0 25px;

      font-size: 21px;
      color: #000;
    }

    .holder-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      padding: 100px;


      .title {
        color: $white;
      }

      .desc {
        color: #707070;
      }
    }

    .form-group {
      margin-bottom: 30px;
    }
  }
}

