.form {
    .form-input {
        height: 60px;
        
        border: none;
        border-bottom: 1px solid #333333;
        background-color: transparent;
        
        font-size: 21px;
        font-family: 'PT Sans', sans-serif;

        input:-webkit-autofill {
            -webkit-text-fill-color: yellow !important;
        }

        &::placeholder {
            font-family: 'PT Sans', sans-serif;
            color: gray;
        }

        &.hw-input {
            width: 342px;
            max-width: 100%;
        } 

        &.fw-input {
            width: 100%;
        }
    }

    .form-button {
        width: 152px;
        height: 60px;
        border-radius: 10px;
        display: block;
        font-family: "PT Sans";
        font-size: 21px;
        font-weight: 700;
        line-height: 35px;
        transition: all 0.3s ease-out;
        outline: none;

        cursor: pointer;


        &.black {
            border: 1px solid $white;
            background-color: $black;
            color: $white;

            &:hover {
                background-color: $white;
                color: $black;
            }
        }

        &.white {
            border: 1px solid $black;
            background-color: $white;
            color: $black;

            &:hover {
                border: 1px solid $white;
                background-color: $black;
                color: $white;
            }
        }

        
    }
}