//main: ../main.scss

/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}


.title {
  font-size: 47px;
  font-family: 'DM Serif Display', serif;

  transition: all .3s ease;
}

.desc,
.text {
  font-family: 'PT Sans', sans-serif;

  transition: all .3s ease;
}

@include respond-to(lg) {
  .title {
    font-size: 37px;
  }
}


@include respond-to(md-down) {
  .title {
    font-size: 27px;
  }
}

@media (min-width: 1366px) and (max-height: 768px) {
  .title {
    font-size: 30px;
  }
}